<ion-app>
  <ion-menu side="start" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/home">
            <ion-icon name="balloon-outline"></ion-icon>
            <ion-title>Home</ion-title>
          </ion-item>
          <ion-item routerLink="/gallery"
            ><ion-icon name="balloon-outline"></ion-icon>
            <ion-title>Gallery</ion-title></ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
